<a href="https://colab.research.google.com/github/rifat2375/Machine-Learning/blob/main/ID3_Algorithm(DecisionTree)with_classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from sklearn.model_selection import train_test_split

In [2]:
df=pd.read_csv("/content/male female.csv")

In [3]:
df

   height  weight  shoe size  gender
0     181      80         44    male
1     177      70         43  female
2     160      60         38  female
3     154      54         37  female
4     166      65         40    male
5     190      90         47    male
6     175      64         39    male
7     171      75         42  female
8     185      85         43  female
9     169      71         42    male

In [4]:
x=df.iloc[:,:-1]

In [5]:
x

   height  weight  shoe size
0     181      80         44
1     177      70         43
2     160      60         38
3     154      54         37
4     166      65         40
5     190      90         47
6     175      64         39
7     171      75         42
8     185      85         43
9     169      71         42

In [10]:
#y=df[['gender']]
y=df.iloc[:,3]

In [11]:
y

0      male
1    female
2    female
3    female
4      male
5      male
6      male
7    female
8    female
9      male
Name: gender, dtype: object

In [13]:
from sklearn import tree

In [14]:
classify= tree.DecisionTreeClassifier()

In [15]:
classify=classify.fit(x,y)

In [19]:
prediction=classify.predict([[200,79,44]])

In [20]:
prediction

array(['male'], dtype=object)