<a href="https://colab.research.google.com/github/rifat2375/Machine-Learning/blob/main/LINEAR_REGRASSION_MULTIPLE_X_VALUE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from sklearn.model_selection import train_test_split

In [ ]:
df=pd.read_csv("/car data.csv")

In [ ]:
df

    speed  risk  car_age  experience
0     200    95       15         5.0
1      90    20       17        13.0
2     300    98       12         4.0
3     110    60       20         NaN
4     240    72        5         3.0
5     115    10        2         8.0
6      50     7        1         5.0
7     230    85        4         3.0
8     190    45        5         2.0
9     260    91        8         7.0
10    290    82        9         8.0
11    185    59       11         2.0
12    310    93        6        10.0
13     95    18        7        11.0
14     30     2        4         7.0

In [ ]:
df.experience

0      5.0
1     13.0
2      4.0
3      NaN
4      3.0
5      8.0
6      5.0
7      3.0
8      2.0
9      7.0
10     8.0
11     2.0
12    10.0
13    11.0
14     7.0
Name: experience, dtype: float64

In [ ]:
exp_fit=df.experience.median()

In [ ]:
exp_fit

6.0

In [ ]:
df.experience=df.experience.fillna(exp_fit)

In [ ]:
df

    speed  risk  car_age  experience
0     200    95       15         5.0
1      90    20       17        13.0
2     300    98       12         4.0
3     110    60       20         6.0
4     240    72        5         3.0
5     115    10        2         8.0
6      50     7        1         5.0
7     230    85        4         3.0
8     190    45        5         2.0
9     260    91        8         7.0
10    290    82        9         8.0
11    185    59       11         2.0
12    310    93        6        10.0
13     95    18        7        11.0
14     30     2        4         7.0

In [ ]:
x=[['speed','car_age','experience']]

In [ ]:
y=[['risk']]

In [ ]:
from sklearn.model_selection import train_test_split
train_df,test_df=train_test_split(df,test_size=0.4)
print("# train :",len(train_df))
print("# test :",len(test_df))

# train : 9
# test : 6

In [ ]:
xtrain=train_df

In [ ]:
xtest=test_df

In [ ]:
xtrain

    speed  risk  car_age  experience
6      50     7        1         5.0
8     190    45        5         2.0
12    310    93        6        10.0
10    290    82        9         8.0
5     115    10        2         8.0
2     300    98       12         4.0
13     95    18        7        11.0
3     110    60       20         6.0
1      90    20       17        13.0

In [ ]:
xtest

    speed  risk  car_age  experience
14     30     2        4         7.0
11    185    59       11         2.0
9     260    91        8         7.0
4     240    72        5         3.0
7     230    85        4         3.0
0     200    95       15         5.0

In [ ]:
from sklearn.linear_model import LinearRegression
reg=LinearRegression()

In [ ]:
reg.fit(df[['speed','car_age','experience']],df.risk)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
reg.predict([[200,15,5]])

array([77.10769594])

In [ ]:
reg.coef_

array([ 0.32953465,  1.86983102, -1.78916309])

In [ ]:
reg.intercept_

-7.900884774872864

In [ ]:
0.32953465*(200)+15*(1.86983102)+5*(-1.78916309)+(-7.900884774872864)

77.10769507512714